body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

input {
  border-radius: 1px;
}

.search, .ui-editable-stock, .ui-editable-field {
  padding:2px;
  border:1px #eee solid;
  outline:none;
}

a {
  text-decoration: none;
}

hr {
  border-top:1px #ddd solid;
  border-bottom:none;
  border-left:none;
  border-right:none;
  margin-bottom: 0;
}

.ui-info-text {
  font-size:12px;
  margin:5px;
  color:#222;
}

.ui-button-link {
  width: 158px;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border: 1px #000 solid;
  background: #005078;
  color: #eee;
}

.ui-button-link:hover, form input[type="submit"]:hover {
  border:1px #dddddd solid;
  border-radius: 2px;
}

.ui-footer-text {
  font-size: 12px;
  color: #ccc;
  margin: 1px;
  display: block;
  text-align: left;
}

.ui-stock-link, .ui-broker-link {
  color:#005078;
  font-weight:bold;
  cursor:pointer;
}

.red-text {
  color:#bb0000;
}

.green-text {
  color:#00bb00;
}

.blur {
  -webkit-filter:blur(3px);
  animation-name:blur-in;
  animation-duration:100ms;
}

.unblur {
  -webkit-filter:blur(0px);
  animation-name:blur-out;
  animation-duration:100ms;
}

.editable {
  cursor:pointer;
}

.left {
  float:left;
}

.right {
  margin-left:4px;
  float:right;
}

.bottom {
  margin-bottom:0px!important;
}

.pointer {
  cursor:pointer;
}

@keyframes blur-in {
  from {
    -webkit-filter: blur(0px);
  } to {
    -webkit-filter:blur(3px);
  }
}

@keyframes blur-out {
  from {
    -webkit-filter: blur(3px);
  } to {
    -webkit-filter:blur(0px);
  }
}

#content {
  width:100%;
  position:absolute;
  padding-bottom:500px;
}

#overlay {
  width:100%;
  height:100%;
  position:fixed;
  background:rgba(0,0,0,0.125);
}

.search-box {
  position:absolute;
  border:1px #eee solid;
  border-top:none;
  background:white;
  display:none;
  z-index:1000;
  box-shadow:0 0 2px;
}

.search-box span {
  display:block;
  padding:5px 10px;
  font-size:14px;
  font-weight:bold;
  color:#005078;
  cursor:pointer;
}

.search-box .stock-name {
  font-size:12px;
  text-overflow:ellipsis;
  left:70px;
  margin:1px 0 0 0;
  position:absolute;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  width:95px;
  font-weight:normal;
  color:#666;
}

.search-box span:nth-child(even) {
  background-color:#f4f4f4;
}
