{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'login.js' %}"></script>
</head>
<body>
<div id="ui-login-container">
  <h1>graaf<span>Trade</span></h1>
  <form method="post" id="register-form">
    {% csrf_token %}
    <input type="text" name="register-email-1" placeholder="email address">
    <input type="text" name="register-email-2" placeholder="confirm email">
    <input type="text" name="register-username" placeholder="choose username">
    <input type="password" name="register-password-1" placeholder="choose password">
    <input type="password" name="register-password-2" placeholder="confirm password">
    <input type="submit" name="register-submit-user" value="i'm an investor">
    <input type="submit" name="register-submit-broker" value="i'm a broker">
  </form>
  <hr>
  <span class="ui-footer-text">© graafTrade 2016</span>
</div>
</body>
</html>
